# PostgreSQL Environment Variables
# This file contains sensitive information and should be kept secure

POSTGRES_USER={{ postgresql_user }}
POSTGRES_PASSWORD={{ postgresql_password }}
POSTGRES_DB={{ postgresql_default_db }}
