# Kafka Environment Variables

KAFKA_VERSION={{ kafka_version }}
CLUSTER_ID={{ kafka_cluster_id }}
KAFKA_NODE_ID={{ kafka_node_id }}
KAFKA_PROCESS_ROLES={{ kafka_process_roles }}
KAFKA_CONTROLLER_QUORUM_VOTERS={{ kafka_controller_quorum_voters }}
KAFKA_CONTROLLER_LISTENER_NAMES={{ kafka_controller_listener_names }}

# Authentication
KAFKA_ADMIN_USER={{ kafka_admin_user }}
KAFKA_ADMIN_PASSWORD={{ kafka_admin_password }}
KAFKA_CLIENT_USER={{ kafka_client_user }}
KAFKA_CLIENT_PASSWORD={{ kafka_client_password }}

# Replication
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR={{ kafka_offsets_topic_replication_factor }}
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR={{ kafka_transaction_state_log_min_isr }}
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR={{ kafka_transaction_state_log_replication_factor }}
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS={{ kafka_group_initial_rebalance_delay_ms }}

# Topics
KAFKA_AUTO_CREATE_TOPICS_ENABLE={{ kafka_auto_create_topics_enable }}
KAFKA_NUM_PARTITIONS={{ kafka_num_partitions }}
KAFKA_DEFAULT_REPLICATION_FACTOR={{ kafka_default_replication_factor }}

# Logs
KAFKA_LOG_RETENTION_HOURS={{ kafka_log_retention_hours }}
KAFKA_LOG_SEGMENT_BYTES={{ kafka_log_segment_bytes }}
KAFKA_LOG_DIRS={{ kafka_log_dirs }}

# Domain
DOMAIN={{ domain }}

{% if kafka_ui_enabled | default(true) %}
# Kafka UI
KAFKA_UI_VERSION={{ kafka_ui_version }}
KAFKA_CLUSTER_NAME={{ kafka_ui_cluster_name }}
KAFKA_UI_AUTH_TYPE={{ kafka_ui_auth_type }}
KAFKA_UI_ADMIN_USER={{ kafka_ui_admin_user }}
KAFKA_UI_ADMIN_PASSWORD={{ kafka_ui_admin_password }}
KAFKA_UI_DYNAMIC_CONFIG_ENABLED={{ kafka_ui_dynamic_config_enabled }}
{% endif %}
