# Observability Environment Variables

DOMAIN={{ domain }}

# Grafana
GRAFANA_ADMIN_USER={{ grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}

{% if prometheus_basic_auth is defined %}
# Prometheus Basic Auth
PROMETHEUS_AUTH={{ prometheus_basic_auth }}
{% endif %}

{% if loki_basic_auth is defined %}
# Loki Basic Auth
LOKI_AUTH={{ loki_basic_auth }}
{% endif %}
