# MariaDB Environment Variables
# This file contains sensitive information and should be kept secure

MARIADB_ROOT_PASSWORD={{ mariadb_root_password }}
{% if mariadb_user %}
MARIADB_USER={{ mariadb_user }}
{% endif %}
{% if mariadb_password %}
MARIADB_PASSWORD={{ mariadb_password }}
{% endif %}
{% if mariadb_default_db %}
MARIADB_DATABASE={{ mariadb_default_db }}
{% endif %}
