services:
  squid:
    image: ubuntu/squid:latest
    container_name: squid
    restart: always
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
      - ./log:/var/log/squid
      - ./conf/squid.passwd:/etc/squid/squid.passwd
      - ./conf/ips.conf:/etc/squid/ips.conf
      - ./conf/blocked-sites.conf:/etc/squid/blocked-sites.conf
    expose:
      - "3128"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.squid.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.squid.entrypoints=squid"
      - "traefik.tcp.services.squid.loadbalancer.server.port=3128"

networks:
  proxy:
    external: true
