# Traefik Environment Variables

ACME_EMAIL={{ traefik_acme_email }}
DOMAIN={{ domain | default('localhost') }}
{% if traefik_dashboard_auth is defined %}
DASHBOARD_AUTH={{ traefik_dashboard_auth }}
{% endif %}
