---
# Database server playbook

- name: Configure Database server
  hosts: db
  gather_facts: true
  become: true
  roles:
    - common
    - docker
  tags: [common, docker]

# TODO: Add database-specific roles (PostgreSQL, MySQL, etc.)
