---
# Database server playbook

- name: Configure Database server
  hosts: db
  gather_facts: true
  become: true
  roles:
    - common
    - docker
  tags: [common, docker]

- name: Deploy Traefik
  hosts: db
  gather_facts: true
  become: true
  roles:
    - traefik
  tags: [traefik]

- name: Deploy PostgreSQL
  hosts: db
  gather_facts: true
  become: true
  roles:
    - postgresql
  tags: [postgresql]

- name: Deploy MariaDB
  hosts: db
  gather_facts: true
  become: true
  roles:
    - mariadb
  tags: [mariadb]

- name: Deploy Redis
  hosts: db
  gather_facts: true
  become: true
  roles:
    - redis
  tags: [redis]
